<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pijush Barman</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/site.webmanifest">
    <script src="/js/Excel.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styling.css"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body onload="loadContent()">
    <nav style="display: flex;justify-content: flex-start;align-items: center;  border-bottom: 1px solid gray;">
        <a href="/" style="margin: 5px 10px;">
            <img src="/static/icons/apple-touch-icon.png" style="width: 50px;height: 50px" alt="Favi Icon">
        </a>
        <a class="link" href="/files">Excel Files</a>
        <a class="link" href="/api_fetch">API Fetch</a>
    </nav>
    {{{body}}}
</body>
</html>